@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap");
:root {
  --primary: #c778dd;
  --bg: #282c33;
  --gray: #abb2bf;
  --white: #ffffff;
  --font: "Fira Code", monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg);
}

span {
  color: var(--primary);
}

nav {
  width: 80%;
  height: 62px;
  margin: 0 auto;
  padding: 20px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 16px;
  font-family: var(--font);
  color: var(--white);
  font-weight: 700;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 15px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 16px;
  font-family: var(--font);
  color: var(--gray);
  font-weight: 500;
}

.icon {
  display: none;
}

.icon a {
  text-decoration: none;
  color: var(--white);
}

.active {
  color: var(--white);
}
